* {
    font-family: 'Didact Gothic', sans-serif;
    margin: 0%;
}

header {
    background-color: brown;
    color: white;
    margin-bottom: 1.5%;
    font-size: xx-large;
    text-align: center;
}

#text_input {
    text-align: center;
}

input{
    width: 93.5%;
    font-size: larger;
    margin-bottom: 1%;
}

button {
    font-size: larger;
    margin-bottom: 1%;
    background-color: brown;
    color: white;
    border: none;
    padding: 0.5%;
}

#result {
    text-align: left;
    margin: 0% 3% 0% 3%;
    border: 1px solid black;
    font-size: x-large;
    padding: 0% 1% 0.5% 1%;
}
